<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lego</title>
        {{ bootstrap.load_css() }}
    </head>
    <body>
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Lego</span>
            </a>
    
            <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
            </ul>
        </header>


        <div class="album py-5">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="./static/assets/Architecture.png" class="card-img-top" alt="Architecture">
                            <div class="card-body">
                                <h3>Architecture</h3>
                                <p class="card-text">LEGO® Architecture presents some of the iconic buildings of world architecture, all perfectly realized as LEGO models. From well-known buildings to more imaginative choices that still reflect architectural excellence, these will make a grate addition to any desk, home or playroom.</p>
  
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="./static/assets/Batman.png" class="card-img-top" alt="Batman">
                            <div class="card-body">
                                <h3>Batman™</h3>
                                <p class="card-text">Night has falled on Gotham City™ and builders everywhere are ready for Batman sets. They can battle against the bad guys with their favourite Dark Knight.</p>

                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="./static/assets/Boost.png" class="card-img-top" alt="Boost">
                            <div class="card-body">
                                <h3>BOOST</h3>
                                <p class="card-text">LEGO® BOOST lets children create models with motors and sensors, and then bring their creations to life through simple, icon-based coding commands. The free LEGO BOOST tabled app includes easy step-by-step building instructions for creating and coding multifunctional models.</p>

                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <p>A lego set is a particular box of LEGO or product. Therefore, a single theme typically has have many different sets. </p>
        <img src="./static/assets/lego_sets.png">
    </body>
  </html>