{% extends "base.html" %} {% block content %}

<!--TODO: Display the user's name in the h1 title-->
<div class="container">
  {% if current_user.is_authenticated %}
    {% with messages = get_flashed_messages()[::-1] %}
  
        <p>{{messages[0]}}</p>
    {% endwith %}
    <h1 class="title">Welcome, {{current_user.name}}</h1>
    <!--TODO: Make a GET request to the /download path-->
    
    <a href="{{url_for('download')}}"  method="get">Download Your File</a>
  {% else %}
    <h1 class="title">Please login or signup!</h1>
  {% endif %}
</div>
{% endblock %}
